{% extends "base.html" %}

{% block announce %}
<div class="announce-container">
  <div class="announce-text-container">
      <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M13%2014h-2V9h2m0%209h-2v-2h2M1%2021h22L12%202%201%2021Z%22%20fill%3D%22yellow%22%2F%3E%3C%2Fsvg%3E" alt="Warning" class="announce-icon">
      <span class="announce-text">We have an upcoming playtest!</span>
  </div>
  <a href="#" class="md-button md-button--primary announce-button">Register</a>
</div>
{% endblock %}
